<!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body>
 <% @posts.each do |post| %>
   <%= post.name %>
   <%= post.content %>
   <br />
 <% end %>
 
 <%if @deleted_post%>
   <p><%=@deleted_post.name%> was deleted</p>
 <%end%>
 
 </body>
 </html>
